*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e2b;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 150px;
    gap: 50px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
button{
    gap: 50px;
    display: inline-flex;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 3px solid #95C11E;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: transparent;
    height: 48px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    padding: 0px 35px;
}
button:hover{
    transform: scale(1.04);
    background-color: #95C11E;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "Eat. Drink. Play.";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 10;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2{
    height: 50vh;
    width: 100%;
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
    transform: translateX(-100%);}
}
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
    
  }
  #about-us {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: space-around;
  }
  #about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
  }
  #about-us-in {
    width: 50%;
    text-align: center;
  }
  #about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
  }
  #about-us-in p {
    font-size: 20px;
    line-height: 26px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    cursor: pointer;
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    cursor: pointer;
    z-index: 99;
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }